# dependencies
node_modules

# build
dist
dist-ssr

# env
.env
*.local

# Native
ios/
android/
core

# Expo
.expo

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# macOS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
